body {
  background-color: #a8dadc;
}

h4 {
  padding-top: 20px;
}

.search-btn {
  margin-top: 10px;
  border-radius: 5px;
}

.card-body {
  color: white;
}

.current-card-body {
  border: solid 2px black;
}

img {
  max-width: 22%;
  max-height: 22%;
}